* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
	width: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

header, nav, main, aside, footer {
	display: block;
}

input, button, textarea, select {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button, a {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*----------------------------------------*/
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../fonts/poppins-v15-latin-300.woff") format("woff"), url("../fonts/poppins-v15-latin-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../fonts/poppins-v15-latin-500.woff") format("woff"), url("../fonts/poppins-v15-latin-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../fonts/poppins-v15-latin-600.woff") format("woff"), url("../fonts/poppins-v15-latin-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../fonts/poppins-v15-latin-700.woff") format("woff"), url("../fonts/poppins-v15-latin-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../fonts/poppins-v15-latin-800.woff") format("woff"), url("../fonts/poppins-v15-latin-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("../fonts/poppins-v15-latin-regular.woff") format("woff"), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
/*--------------------*/